*{
    padding: 0;
    margin: 0;
}
.title{
    font-size: 3rem;
    font-family: "Bree Serif", serif;
}
.para{
    font-size: 1.5rem;
    font-family: "MuseoModerno", sans-serif;
    margin-top: 2em;
}
.main{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-ele{
    color: #F6FA92;
    text-align: center;
    position: relative;
    top: 30%;
}
.info{
    text-align: center;
    height: 100vh;
    /* color: #E2D7D1; */
    color: #BB75F0;
    margin-bottom: 5em;
}
.info-container{
    position: relative;
    top: 10%;
}
.info-img img{
    width: 10vw;
    min-width: 200px;
    border-radius: 50%;
    border: none;
    margin-bottom: 3em;
}
.info-ele{
    max-width: 60vw;
    margin: 0 auto;
}
.skills{
    height: 100vh;
    background-color: #EAF6F4;
    display: flex;
    align-items: center;
}
.skill-title{
    margin-bottom: 5em;
    text-align: center;
    font-size: 1.5em;
    /* color: #EFA17A; */
    color: #90D6EF;
}
.skill-container{
    display: flex;
    gap: 20px;
    width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.skill{
    max-width: 500px;
    min-width: 300px;
}
.skill img{
    width: 75px;
    margin-bottom: 3em;
}
.skill p{
    /* color: #40514e; */
    color: #90D6EF;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.2em;
    text-align: left;
}
.contact{
    background-color: #BBCEF5;
    height: 30vh;
    position: relative;
    /* color: #D4A3EA; */
    color: #DFA2E5;
}
.contact-list{
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
}
.contact h3{
    position: relative;
    left: 15%;
    margin-bottom: 1em;
    font-size: 2em;
    font-family: "MuseoModerno", sans-serif;
}
.contact svg{
    color: #AF97E1;
    width: 50px;
    height: 50px;
}
.contact p{
    font-family: "Bree Serif", serif;
    position: absolute;
    bottom: 7px;
    text-align: center;
    width: 100%;
}
/* media queries */
@media (max-width: 600px){
    .title{
        font-size: 2rem;
    }
    .para{
        font-size: 1rem;
    }
    .info-container{
        top: 15%;
    }
    .info-img img{
        min-width: 140px;
    }
}
.contact svg:hover{
    color: #F5F4F5;
    cursor: pointer;
}